<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos de nous</title>
    <link rel="icon" href="log.jpg" type="image/jpg">
    <link rel="stylesheet" href="fm.css">
    <link rel="stylesheet" href="mession.css">
</head>
<body>
<!-- Navigation -->
<header>
    <div class="menu">
        <div class="logo">
            <div class="logo">
                <a href="index_radio.html"><img src="logo ESSECT FM PNG.png" class="menu_icons" alt=" Logo"></a></div>
    
                <ul>
                    <li><a href="file:///C:/Users/Wiem/Desktop/club_essect/view/ACCEUIL/index.html" >Accueil</a></li>
                    <li><a href="file:///C:/Users/Wiem/Desktop/club_essect/view/ENACTUS/clubs.html">Clubs</a></li>
                    <li><a href="#">Adhésion</a></li>
                    <li><a href="#"  class="yellow">Contact</a></li>
                </ul></nav>
            </div>


 </header>
 <div class="image">
        <img src="r.png" alt="image">
        <img src="r2.png" alt="image2" srcset="">
    </div>
<section class="about">
    <p>
        Bienvenue sur le site officiel de Radio FM</p>

    
        <h2>Encadrant académique </h2><br><p>Mr Ben Osman Hamdi</p>
    <h2>Finalité du club</h2>
    <p>La mission de la « Radio ESSECT FM » est de favoriser la
        communication, l’échange et le divertissement entre
        étudiants, enseignants et personnel administratif, en
        offrant une plateforme d’information, de culture et de
        détente. Elle vise à enrichir la vie universitaire, renforcer
        le lien communautaire et dynamiser l'engagement au
        sein de l’ESSECT.</p>

    

<h2>Valeurs du club</h2>
    <ul>
        <li><strong> Transparence :</strong>Nous communiquons de manière claire
            et honnête, en partageant les informations de façon
            accessible pour que chacun puisse comprendre et
            participer pleinement à la vie du club radio. </li>
        <li><strong>Agilité :</strong>Nous nous adaptons rapidement aux
            changements et aux besoins des étudiants, en
            proposant une information réactive et une
            interaction fluide pour rester toujours pertinents et
            dynamiques.</li>
            <li><strong>Engagement collectif :</strong>: Nous favorisons la solidarité et
                l’implication des étudiants en créant un espace où
                chacun peut s’exprimer, contribuer et se sentir
                pleinement acteur de son environnement universitaire.</li>
    
    </ul>
 <h2>Objectifs du club</h2>
 <p>-Favoriser la communication et l’expression des
    étudiants au sein de la communauté universitaire.
    Informer et divertir l’ensemble de la communauté
    universitaire à travers
    des contenus sur les sujets académiques, culturels et
    sociaux. <br>
    - Informer sur les événements de l’ESSECT. <br>
    - Développer les compétences des étudiants dans des
domaines tels que
la communication, le montage audio, la conception
graphique, etc.</p>
<h2>Comment devenir membre de Radio FM</h2>
<p>Si tu es motivé(e) par les valeurs et les objectifs de Radio FM, nous t’invitons à nous rejoindre avec enthousiasme !
<a href="signup.html">click ici</a> est enter votre CV </p>
    <h2>Contactez-nous</h2>
    <p>Notre email: essectfm@gmail.com <br>
        TEL:+216 58 470 045</p>
    
</section>
<!-- Footer -->
<section>
    <footer id="footer">
        <div class="div1">
            notre email: enactus.essect.monfleury@gmail.com <br>
            TEL:+216 58 470 045 <br>
            MAP: Av. Ali Trad, Tunis 1008<br>
            <p>Qui nous aime nous suives !</p>
            <div class="icones_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <p>universite de l'essect</p>
        
    
        </div>
        <hr>
            <div class="footer-container">
                <div class="footer-column">
                <h3><strong>clubs</strong></h3>
                <ul>
                <li><a href="#">interact</a></li>
                <li> <a href="#">enactus</a></li>
                <li><a href="#">infolab</a></li>
                <li><a href="#">radio</a></li>
                <li> <a href="#">fahmoulogia</a></li>
                </ul>
            </div>
            <div>
                <div class="footer-column">
                <h3>president</h3>
                <ul>
                    <li><a href="#">foulen fouleni1</a></li>
                    <li><a href="#">foulen fouleni2</a></li>
                    <li><a href="#">foulen fouleni3</a></li>
                </ul>
            </div></div>
            <div>
                <div class="footer-column">
                <h3>a propos membre</h3>
                <ul>
                    <li><a href="#">histoire</a></li>
                   <li> <a href="#">nouveaute</a></li>
                   <li><a href="#">evenement</a></li> 
                    
                </ul>
            </div></div>
            <div>
                <div class="footer-column">
                <h3>suivez nous</h3>
                <ul>
                    <li><a href="https://www.instagram.com/enactors.essect/">instagram</a></li>
                    <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.tiktok.com%2F%40enactus_essect%3F_t%3D8qQN3xK9lQc%26_r%3D1%26fbclid%3DPAZXh0bgNhZW0CMTEAAabQpBxOJsdH19qUmmBaXwzmyj__kCrHDkVU5NPFICFXGfAUb_yU3OBHuwg_aem_zxdmFIa6YHQQuB5lMXjLjw&e=AT1xvvm8xXVrcIEOQD_fKeCEYWxGV8YbCJx3pM5_MPcG7I4h0PJ6hNKDHomv9G6DH5BMrqco8aIxQEdtSrKodgL7Yuc9k5uIgJcjt2g">tiktok</a></li>
                    <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fyoutube.com%2F%40enactusessect%3Fsi%3D1p_CHZPh2ZxdiifW%26fbclid%3DPAZXh0bgNhZW0CMTEAAaYaQXr1ej_-3o517YxtzfO7PC0xUbqfDqwPeFGKGE52WlAR8odfM7yYtT8_aem_gurfabkcx41ef_alrBWxVQ&e=AT1qC5hTCKBMa9bfLo9S3FLA3XBJOfVVTPB5uqrcwUeP6u-YAwoNHHnnIpYOJToAe9UltSn4a7cEmNK1JKjGgvFx0OmiV-kWjsLMqa8">youtube</a></li>
                    <form class="newsletter">
                        <label for="email">Subscribe to our Newsletter</label>
                        <input type="email" name="email" id="email" placeholder="Your email address">
                        <button type="submit">Subscribe</button>
                    </form>
                </ul>
            </div>
        </div>
        
        <hr>
    
        <div  class="footer-bottom">
            <p>&copy;2025 ESSECT. All rights reserved.</p>
        </div>
       </footer>
       <!-- footer-->
    </section>


</body>
</html>
