<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos de nous</title>
    <link rel="icon" href="log.jpg" type="image/jpg">
    <link rel="stylesheet" href="enactus.css">
    <link rel="stylesheet" href="mession.css">
</head>
<body>
<!-- Navigation -->
<header>
    <div class="menu">
        <div class="logo">
        <a href="enactus.html"> Enactus</a> <span>ESSECT</span></div> 
    
        <ul>
            <li><a href="file:///C:/Users/Wiem/Desktop/club_essect/view/ACCEUIL/index.html" >Acueil</a></li>
            <li><a href="file:///C:/Users/Wiem/Desktop/club_essect/view/ENACTUS/clubs.html">clubs</a></li>
            <li><a href="#">Adhesion</a></li>
            <li><a href="#">Réseaux Sociaux du Club</a></li>
        </ul>
    </div>

    <div class="header-end">
        <i class="fa-solid fa-location-dot"></i>
        <i class="fa-solid fa-crown">
            <div class="login">
                <button><span>se connecter</span></button>
                <hr>
                <p>Vous n'avez pas encore de compte ?</p>
                <button><span>rejoignez le kingdom</span></button>
            </div>
        </i>
        <button><span>Click & collect </span><img src="click_collect.png"></button>
        
    </div>

 </header>

<section class="about">
    <p>
        Bienvenue sur le site officiel de Enactus</p>

    <h2>Fondation</h2>
    <h4>La Naissance de l’Innovation</h4>
    <p>Créée en 2022 à l’ESSEC, notre initiative incarne un carrefour dynamique où créativité et technologie se rencontrent. Notre objectif est de transformer des concepts innovants en projets concrets, tout en cultivant un environnement collaboratif propice au développement et à l'épanouissement de nos membres.</p>

    
    <!-- <div class="history">

        <img src="" alt=" Building"/>
        <img src="images/3.jpg"  alt="1"/>
    </div>-->
<h2>Club Universitaire</h2>
    <ul>
        <li><strong> 3 ans d’ancienneté</strong>Depuis sa création, notre club a su s'imposer comme un acteur clé au sein de l'ESSEC, en constante évolution et en quête de nouvelles opportunités.  </li>
        <li><strong>130 Membres</strong>Notre communauté compte aujourd'hui 130 membres actifs, tous passionnés par l'innovation et la collaboration. </li>
    
    </ul>
 <h2>Mission</h2>
 <p>Notre mission est centrée sur l'avancement des compétences et la préparation des étudiants à exceller sur un marché du travail de plus en plus compétitif.
    Nous transformons l'apprentissage en une aventure captivante, offrant à nos membres des outils essentiels pour réussir, que ce soit sur le plan académique, professionnel ou personnel.</p>
    <h2>Opportunités et Partenariats : Unir pour Triompher</h2>
    <p>Nous proposons à nos membres des expériences d'apprentissage pratiques et immersives, conçues pour les préparer aux défis du monde réel.
        Parallèlement, nous cherchons à établir des partenariats stratégiques avec des entreprises et des organisations partageant nos valeurs. Ces collaborations renforcent notre mission tout en offrant une visibilité accrue à nos sponsors.</p>
<h2>Comment devenir membre de l'enactus</h2>
<p>Si tu es motivé(e) par les valeurs et les objectifs de l'enactus', nous t’invitons à nous rejoindre avec enthousiasme !
<a href="signup.html">click ici</a> est enter votre CV </p>
    <h2>Contactez-nous</h2>
    <p>Notre email: enactus.essect.monfleury@gmail.com <br>
        TEL:+216 58 470 045</p>
    
</section>
<!-- Footer -->
<section>
    <footer id="footer">
        <div class="div1">
            notre email: enactus.essect.monfleury@gmail.com <br>
            TEL:+216 58 470 045 <br>
            MAP: Av. Ali Trad, Tunis 1008<br>
            <p>Qui nous aime nous suives !</p>
            <div class="icones_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <p>universite de l'essect</p>
        
    
        </div>
        <hr>
            <div class="footer-container">
                <div class="footer-column">
                <h3><strong>clubs</strong></h3>
                <ul>
                <li><a href="#">interact</a></li>
                <li> <a href="#">enactus</a></li>
                <li><a href="#">infolab</a></li>
                <li><a href="#">radio</a></li>
                <li> <a href="#">fahmoulogia</a></li>
                </ul>
            </div>
            <div>
                <div class="footer-column">
                <h3>president</h3>
                <ul>
                    <li><a href="#">foulen fouleni1</a></li>
                    <li><a href="#">foulen fouleni2</a></li>
                    <li><a href="#">foulen fouleni3</a></li>
                </ul>
            </div></div>
            <div>
                <div class="footer-column">
                <h3>a propos membre</h3>
                <ul>
                    <li><a href="#">histoire</a></li>
                   <li> <a href="#">nouveaute</a></li>
                   <li><a href="#">evenement</a></li> 
                    
                </ul>
            </div></div>
            <div>
                <div class="footer-column">
                <h3>suivez nous</h3>
                <ul>
                    <li><a href="https://www.instagram.com/enactors.essect/">instagram</a></li>
                    <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.tiktok.com%2F%40enactus_essect%3F_t%3D8qQN3xK9lQc%26_r%3D1%26fbclid%3DPAZXh0bgNhZW0CMTEAAabQpBxOJsdH19qUmmBaXwzmyj__kCrHDkVU5NPFICFXGfAUb_yU3OBHuwg_aem_zxdmFIa6YHQQuB5lMXjLjw&e=AT1xvvm8xXVrcIEOQD_fKeCEYWxGV8YbCJx3pM5_MPcG7I4h0PJ6hNKDHomv9G6DH5BMrqco8aIxQEdtSrKodgL7Yuc9k5uIgJcjt2g">tiktok</a></li>
                    <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fyoutube.com%2F%40enactusessect%3Fsi%3D1p_CHZPh2ZxdiifW%26fbclid%3DPAZXh0bgNhZW0CMTEAAaYaQXr1ej_-3o517YxtzfO7PC0xUbqfDqwPeFGKGE52WlAR8odfM7yYtT8_aem_gurfabkcx41ef_alrBWxVQ&e=AT1qC5hTCKBMa9bfLo9S3FLA3XBJOfVVTPB5uqrcwUeP6u-YAwoNHHnnIpYOJToAe9UltSn4a7cEmNK1JKjGgvFx0OmiV-kWjsLMqa8">youtube</a></li>
                    <form class="newsletter">
                        <label for="email">Subscribe to our Newsletter</label>
                        <input type="email" name="email" id="email" placeholder="Your email address">
                        <button type="submit">Subscribe</button>
                    </form>
                </ul>
            </div>
        </div>
        
        <hr>
    
        <div  class="footer-bottom">
            <p>&copy;2025 ESSECT. All rights reserved.</p>
        </div>
       </footer>
       <!-- footer-->
    </section>


</body>
</html>
