<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fahmologia</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="fahmologia.css">
    <link href="image_fahm/fahm1.jpg" rel="icon">
    <script src="https://kit.fontawesome.com/a980e88be8.js" crossorigin="anonymous"></script>
</head>
    <!-- header -->
     
    <header>
        <div class="menu">
            <img src="image_fahm/menu.png" class="menu_icons">
            <ul>
                <li><a href="file:///C:/xampp/htdocs/version2/view/ACCEUIL/index.html">Acceuil</a></li>
                <li><a href="file:///C:/xampp/htdocs/version2/view/ACCEUIL/clubs.html">clubs</a></li>
                <li><a href="http://localhost/version2/view/FAHMOLOGIA/register.php">rejoindre</a></li>
                
            </ul>
        </div>
        
        <img src="image_fahm/fahm1.jpg" class="logo">
        <div class="header-end">
            <i class="fa-solid fa-location-dot"></i>
            <i class="fa-solid fa-crown">
                <div class="login">
                    <button><span>se connecter</span></button>
                    <hr>
                    <p>Vous n'avez pas encore de compte ?</p>
                    <button><span>rejoignez notre famille</span></button>
                </div>
            </i>
            
           
           
            <!-- header -->
        </div>
     </header>
<body>

     
     
    
      <!-- home -->
      
       <section class="home">
        
        <a href="http://localhost/version2/view/FAHMOLOGIA/register.php"><button><span>register !</span></button></a>
       </section>
        <!-- home --> 

         <!-- foods --> 
          <section class="events">
            <h1>les evenements</h1>
            <p>Découvrez les actualités Fahmologia</p>
            <div class="event-list">
                <div class="box">
                    <img src="image_fahm/fahm15.jpg">
                    <h3>Formation en Soft Skills</h3>
                </div>
                <div class="box">
                    <img src="image_fahm/fahm23.jpg">
                    <h3>hackathon </h3>
                </div>
                <div class="box">
                    <img src="image_fahm/fahm3.jpg">
                    <h3>journee de saint_valentin</h3>
                </div>
               
            </div>
          </section>

          <section class="about">
            <h1>À propos de Fahmologia</h1>
            <article>
                <h2>Qu'est-ce que Fahmologia ?</h2>
                <p>C’est un club universitaire créé en novembre 2022.
                     Il a pour but de vulgariser les concepts étudiés de manière simple
                      à travers des capsules vidéo ou des articles.</p>
                      <a href="
                      linktr.ee/fahmologia.essect"> page de liens utilisée par Fahmologia ESSECT pour  partager ses présences en ligne et ressources importantes. </a>
            </article>
        </section>
        
          <!-- foods -->

           <!-- fidelity prog -->
           <section class="fidelity_prog">
            <div class="div1">
                <img src="image_fahm/fahm39.jpg" alt="Club 1">
                <button><span>Rejoindre</span></button>
            </div>
        
            <div class="div2">
                <img src="image_fahm/fahm38.jpg" alt="Club 2">
            </div>
        
            <div class="div3">
                <img src="image_fahm/fahm13.jpg" alt="Club 3">
                <button><span>Voir tous les activités</span></button>
            </div>
        </section>
        
             <!-- fidelity prog -->

             <!--little food -->
             <section class="little-food">
                <h1>a propos nous</h1>
                <div class="little-food_box">
                    <div class="box">
                        <h3>Reussir <br> mon PFE</h3>
                        <img src="image_fahm/fahm38.jpg">
                    </div>

                    <div class="box">
                        <h3>Conference</h3>
                        <img src="image_fahm/fahm35.jpg">
                    </div>

                    <div class="box">
                        <h3>A propos les membre </h3>
                        <img src="image_fahm/fahm28..jpg">
                    </div>

                    <div class="box">
                        <h3>evenement de google</h3>
                        <img src="image_fahm/fahm29..jpg">
                    </div>
                </div>
             </section>



      <!-- footer-->
 <footer>
    <div class="div1">
        <p>Qui nous aime nous suives !</p>
        <div class="icones_social">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <p>universite de l'essect</p>
        <div>
            <img src="image_fahm/OIP.jpg" >
            
        </div>

    </div>
    <hr>
    <div class="div2">
        <div>
            <h3>clubs</h3>
            <ul>
                <a href="#">interact</a>
                <a href="#">enactus</a>
                <a href="#">infolab</a>
                <a href="#">radio</a>
                <a href="#">fahmoulogia</a>
                <a href="#">aisec</a>
            </ul>
        </div>
        <div>
            <div class="footer-column">
            <h3>president</h3>
            <ul>
                <li><a href="#">enactus:Rayen Souli</a></li>
                <li><a href="#">InfoLab:Nour cherni</a></li>
                <li><a href="#">radio:oucema Abelkrim</a></li>
                <li><a href="#">fahmouloujia:oumaima Ben nasr</a></li>
            </ul>
        </div></div>
        <div>
            <h3>a propos membre</h3>
            <ul>
                <a href="#">histoire</a>
                <a href="#">nouveaute</a>
                <a href="#">evenement</a>
                
            </ul>
        </div>
        <div>
            <h3>suivez nous</h3>
            <ul>
                <a href="https://www.instagram.com/fahm.essect/">instagram</a>
                <a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.tiktok.com%2F%40enactus_fahm%3F_t%3D8qQN3xK9lQc%26_r%3D1%26fbclid%3DPAZXh0bgNhZW0CMTEAAabQpBxOJsdH19qUmmBaXwzmyj__kCrHDkVU5NPFICFXGfAUb_yU3OBHuwg_aem_zxdmFIa6YHQQuB5lMXjLjw&e=AT1xvvm8xXVrcIEOQD_fKeCEYWxGV8YbCJx3pM5_MPcG7I4h0PJ6hNKDHomv9G6DH5BMrqco8aIxQEdtSrKodgL7Yuc9k5uIgJcjt2g">tiktok</a>
                <a href="https://l.instagram.com/?u=https%3A%2F%2Fyoutube.com%2F%40enactusessect%3Fsi%3D1p_CHZPh2ZxdiifW%26fbclid%3DPAZXh0bgNhZW0CMTEAAaYaQXr1ej_-3o517YxtzfO7PC0xUbqfDqwPeFGKGE52WlAR8odfM7yYtT8_aem_gurfabkcx41ef_alrBWxVQ&e=AT1qC5hTCKBMa9bfLo9S3FLA3XBJOfVVTPB5uqrcwUeP6u-YAwoNHHnnIpYOJToAe9UltSn4a7cEmNK1JKjGgvFx0OmiV-kWjsLMqa8">youtube</a>
            </ul>
        </div>
    </div>
    <hr>

    <div class="div3">
        <p>&copy;2025 ESSECT. All rights reserved.</p>
    </div>
   </footer>
   <!-- footer-->
    
</body>
</html>