<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="global.css">
    <link href="IMAGE/OIP.jpg" rel="icon">
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="clubs.html">clubs</a>
            </div>
            <ul>
                
                <li><a href="http://localhost/version2/view/FAHMOLOGIA/register.php">rejoindre</a></li>
                <li><a href="file:///C:/xampp/htdocs/version2/view/INFOLAB/infolab.html">infolab</a></li>
                <li><a href="file:///C:/xampp/htdocs/version2/view/FAHMOLOGIA/fahmologia.html">fahmologia</a></li>
                <li><a href="file:///C:/xampp/htdocs/version2/view/ENACTUS/enactus.html">enactus</a></li>
                <li><a href="file:///C:/xampp/htdocs/version2/view/RADIO/index_radio.html">radio</a></li>
            </ul>
        </div>
    </nav>
    <div class="img"></div>
    <div class="center">
        
        <div class="btns">
            <a href="clubs.html">
                <button><span>en savoir plus</span></button></a>
            <a href="http://localhost/version2/view/FAHMOLOGIA/register.php">
                <button id="center"><span>commencer</span></button></a>
            
        </div>
    </div>
   

</body>


    






 <!-- footer-->
 <footer>
    <div class="div1">
        
        <div class="icones_social">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <p>universite de l'essect</p>
        <div>
            <img src="IMAGE/OIP.jpg" >
            
        </div>

    </div>
    <hr>
    <div class="div2">
        <div>
            <h3>clubs</h3>
            <ul>
                
                <a href="enactus.html">enactus</a>
                <a href="index.html">infolab</a>
                <a href="#">radio</a>
                <a href="fahmologia.html">fahmoulogia</a>
                
            </ul>
        </div>
        <div>
            <h3>president</h3>
            <ul>
                <a href="#">nour cherni</a>
                <a href="#">foulen fouleni2</a>
                <a href="#">foulen fouleni3</a>
                <a href="#">foulen fouleni4</a>
            </ul>
        </div>
        <div>
            <h3>fondateurs</h3>
            <ul>
                <a href="#">fahmologia :Mehdi cherif</a>
                <a href="#">infolab:Mme Afef slama</a>
                <a href="#">radio essect fm: Mr Ben Osman Hamdi</a>
                
            </ul>
        </div>
        <div>
            <h3>suivez nous</h3>
            <ul>
                <a href="https://www.instagram.com/club_radio_essect_fm/">instagram club_radio_essect_fm</a>
                <a href="https://www.instagram.com/fahmologia.essect/">instagram fahmologia.essect</a>
                <a href="https://www.instagram.com/infolab_essect/">instagram infolab_essect</a>
                <a href="https://www.instagram.com/enactors.essect/">instagram enactors.essect</a>
            </ul>
        </div>
    </div>
    <hr>

    <div class="div3">
        <p>&copy;2025 ESSECT. All rights reserved.</p>
    </div>
   </footer>
   <!-- footer-->

</html>
